@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

// Typography
.label01 {
  @include type.type-style('label-01');
}
.bodyLong01 {
  @include type.type-style('body-01');
}
.productiveHeading04 {
  @include type.type-style('heading-04');
}

// Containers
.container {
  width: 100%;
  max-width: 12rem;
  border-bottom: 1px solid $ui-04;
  margin-bottom: layout.$spacing-03;
}

// Labels
.label {
  @extend .label01;
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

// Inputs
.numberInput {
  border: none;
  @extend .productiveHeading04;
  text-align: center;
  padding: 0;
  color: $ui-05;
  width: 100%;

  :global(.cds--number input[type='number']) {
    border: none !important;
    text-align: center;
    @include type.type-style('heading-04');
    width: 100%;
  }

  ::placeholder {
    color: $text-03;
  }
}

// Input Container
.inputContainer {
  @extend .productiveHeading04;
  min-height: 4.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $text-02;
  background-color: $ui-01;
  padding: layout.$spacing-03;

  &.focused {
    outline: layout.$spacing-01 solid colors.$blue-60;
  }

  &.red {
    background-color: colors.$red-20;
  }
  &.green {
    background-color: colors.$green-20;
  }
  &.yellow {
    background-color: colors.$yellow-10;
  }
  &.blue {
    background-color: colors.$blue-20;
  }

  @media screen and (max-width: 1055px) {
    // tablet
    min-height: 4rem;
    padding: layout.$spacing-02;
  }
}

// Textarea
.textarea {
  border: none;
  @extend .bodyLong01;
  text-align: left;

  textarea {
    border-bottom: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

// Centered flex container
.centered {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacing-03;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 1055px) {
    // tablet
    flex-direction: column;
    gap: layout.$spacing-02;
  }
}

// Unit labels
.unitName {
  @include type.type-style('body-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-03;
}

// Validation / Error
.invalidInputError {
  width: 100%;
  color: $danger;
  margin-bottom: layout.$spacing-03;
}

// Label container
.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

// Critical Values
.critical-value {
  background-color: colors.$red-10;

  .numberInput input {
    background-color: colors.$red-10;
  }
}

// Arrows for abnormal values
.low::after {
  content: ' ↓';
}
.critically-low::after {
  content: ' ↓↓';
}
.high::after {
  content: ' ↑';
}
.critically-high::after {
  content: ' ↑↑';
}

// Readonly
.readonly {
  cursor: default;

  @media screen and (max-width: 1055px) {
    background-color: colors.$gray-10;
  }

  @media screen and (min-width: 1056px) {
    background-color: colors.$white-0;
  }
}
